<pre> 
















</pre>

<form>
    <input type="text" placeholder="name" [(ngModel)]="currentRecipe.Name" name="n" />
    <input type="text" placeholder="image" [(ngModel)]="currentRecipe.Image" name="i" />
    <select [(ngModel)]="currentRecipe.CategoryId" name="s">
        <option value="1">boiled</option>
        <option value="2">coktail</option>
        <option value="3">piece of cake</option>

    </select>

    <input type="number" placeholder="time" [(ngModel)]="currentRecipe.PreparationTimeInMinute" min="0" name="t" />
    <input type="number" placeholder="level" [(ngModel)]="currentRecipe.Level" name="l" min="0" max="5" />//1-5
    <input type="button" value="+" (click)="newComp()" />
    <input type="text" placeholder="comp" [(ngModel)]="comp" name="c" />
    <input type="button" value="add layer" (click)="newLayer()" />
    <input type="text" placeholder="description" [(ngModel)]="emptyLayer.Description" name="d" />
    <input type="button" value="+" (click)="newPrep()" />
    <input type="text" placeholder="prep" [(ngModel)]="prep" name="p" />
    <input type=button value="add" (click)="addRecipe()" />
</form>
 