<div>
  <mat-toolbar color="accent" id="nav">
 
    <span *ngIf="!ifNotGuest()">שלום אורח</span>
    <span *ngIf="ifNotGuest()">שלום {{userName}}</span>
   <span class="example-spacer"></span>
  <button mat-button  class="a" [routerLink]="['/register']" >הרשמה</button>
  <button mat-button  class="a" [routerLink]="['/login']">התחברות</button> 
  <button mat-button  class="a" [routerLink]="['/allRecipes']" >כל המתכונים</button> 
  <button mat-button  class="a" [routerLink]="['/addRecipe']" *ngIf="ifNotGuest()" >הוספת מתכון</button>
  <button mat-button  class="a" [routerLink]="['/logout']"  *ngIf="ifNotGuest()" >התנתקות</button>
   <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home">home</mat-icon>
  </button>
 
 </mat-toolbar>
 </div>
<router-outlet></router-outlet>


<!-- <div id="all">
  <mat-toolbar >
      <div class="butNav">
           <img src="../assets/images/icon-rashi.png" id="logo"/>
           <h1>Foody</h1>
        </div>
      <button mat-raised-button color="warn" [routerLink]="['/allRecipes']" class="butNav">כל המתכונים </button>
      <button mat-raised-button color="warn"[routerLink]="['/register']"  class="butNav">הרשמה</button>
      <button mat-raised-button color="warn" [routerLink]="['/login']"  class="butNav">התחברות</button>
      <button mat-raised-button color="warn" *ngIf="ifNotGuest()" [routerLink]="['/logout']"  class="butNav">התנתקות</button>
      <button mat-raised-button color="warn" *ngIf="ifNotGuest()" [routerLink]="['/addRecipe']"  class="butNav">הוספת מתכון</button>
      <span class="example-spacer"></span>
      <span *ngIf="!ifNotGuest()">שלום אורח!</span>
      <span *ngIf="ifNotGuest()">שלום {{userName}}!</span>
  </mat-toolbar>
  <router-outlet></router-outlet>
</div> -->